.site {
  width: 100vw;
  height: 100vh;
  display: grid;
  background-color: #05070a;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 2fr 8fr;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  gap: 1rem;
}

.main {
  border: 1px solid green;
  grid-area: main;
}

.footer {
  border: 1px solid black;
  grid-area: footer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
